@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

/* Shared Style */
  .flex{
    display: flex;
  }
  /* dark-02 */
.text-gray{
    color:#424242
}
/* darkm-03 */
.text-light-gray{
    color:#727272;
}
.bg-color{
    background-color:rgba(255,144,14,0.1) ;
}
.btn{
    background-color:#FF900E ;
    color:white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;

}
/* Heading Style */
.header{
    padding: 20px;
    padding-bottom: 0;
}
/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.band{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
}
.navbar{
    max-width: 1440px;
    margin:0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;

}
.banner-content{
     max-width:850px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 50px;
}
.banner-image{
    width:100%;
}


 
   
/* Feature Sytle wiht responsive query */
.feature{
   
    align-items: center;
    margin:0 auto;
      gap:120px;
      padding: 20px;
       margin-top: 130px;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}
.featur-des{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size: 3rem;
    color:#424242;
}
.feature-title-,.facts-title{
     font-size: 3rem;
    color:#FF900E ;
}

/* Card Style */

.facts{
 padding:20px;
  margin-top: 130px;
    
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
     gap:80px;
     padding:20px;
}
.card-item{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF900E;
    width: 260px;
    height: 300px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
    .num{
        font-size: 2rem;
    }

    .card-title{
       font-size: 1rem;
    }
    .card-image{
        width: 35%;
    }
 .sponsor{
    margin-top: 130px;
 }
    .logo{
         margin-top: 130px;
         display: grid;
         grid-template-columns: repeat(5,1fr);
         padding: 20px;
    }
    .sponsor-title{
        font-size: 2.6rem;
    }
    .sponsor-text{
        text-align: center;
    }
    /* About Style */
.about-content{
    margin-top: 130px;
  padding: 20px;
  gap:50px;
}
.about-title{
    font-size: 4rem;
}
.about-des{
    padding: 10px;
    width: 540px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.1);
}
#ex-badge{
    font-size: 4rem;
    width:400px;
    margin-top:-120px ;
    margin-left: -60px;
    text-align: center;
}

/* Media query responsive */
@media screen and (max-width:576px) {
    .image{
        width:100%;
      
    }
    .card,.logo,.about-content,.about-des,.navbar,
.nav-links,
.feature,.feature-image {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .about-des,.about-title,.intro{
        width:100%;
    }
}